.search-bar.top::after {
    content: url("/images/webp/bg-circle.webp");
    z-index: -1;
    position: absolute;
    right: 240px;
    top: -192px;
}
.search-bar.bottom::after {
    content: url("/images/webp/bg-circle.webp");
    display: block;
    z-index: -1;
    position: absolute;
    transform: rotate(180deg);
    left: 240px;
    top: -197px;
}

button:hover,
a:hover {
    filter: brightness(.85);
    transition-duration: .5s;
}
.drop-shadow {
  background-color: #fff;
  box-shadow: 5px 6px 15px -3px rgba(31, 59, 120, 0.3);
}
.container {
  margin: 0 auto;
  max-width: 947px;
  width: 100%;
}

.logo-main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.search {
    display: flex;
}
.search-bar {
  background: rgb(31, 60, 120);
  background: linear-gradient(
    180deg,
    rgba(31, 60, 120, 1) 13%,
    rgba(59, 85, 139, 1) 54%,
    rgba(31, 60, 120, 1) 55%
  );
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-bar .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11%;
}

#search-btn {
  margin-left: -10px;
}
.button {
    height: 32px;
    padding: 3px 12px;
    border-radius: 4px;
    border: none;
    background: linear-gradient( 180deg, rgba(35,84,125,1) 0%, rgba(10,115,171,1) 82% );
    color: #fff;
}
.button::before {
  border-radius: 5px;
  content: "";
  background: linear-gradient(
    354deg,
    rgba(0, 0, 0, 1) 13%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 86px;
  height: 25px;
}
.line-spacing {
  margin-top: 20px;
}

.search-label {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  float: right;
}

/*main*/

.main-article {
  height: 200px;
  background: rgb(31, 60, 120);
  background: linear-gradient(
    180deg,
    rgba(31, 60, 120, 1) 13%,
    rgba(59, 85, 139, 1) 54%,
    rgba(31, 60, 120, 1) 55%
  );
  color: #fff;
  float: left;
}
.main-article img {
  float: left;
  margin-right: 10px;
}
.main-article .category {
  font-size: 0.875em;
  font-weight: normal;
  padding-top: 5px;
}
.main-article .title {
  color: #e6ba3d;
  font-size: 1.5em;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: normal;
  cursor: pointer;
}
.main-article .secondary-content {
  font-size: 0.875em;
  line-height: 16px;
  margin-top: 10px;
}
.news-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-link {
    font-size: 0.875em;
    display: inline-block;
}
.news-link > div {
    display: inline-block;
    width: 140px;
}
.city {
    margin-top: -5px;
    color: #666;
}
i::before {
    color: #666;    
}
button i::before {
    color: #fff;    
}
a {
    font-size: 1.2em;
    text-decoration: none;
}
.secondary-news-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 610px;
    width: 100%;
}
.secondary-section-news {
    font-size: 0.875em;
    width: 185px;
    margin-top: 20px;
}
.secondary-section-news img {
    float: left;
    margin-right: 5px;
}
.no-img-news {
    margin-top: 20px;
    border-top: 4px dotted #e1e1e1;
    padding-top: 10px;
    width: 185px;
}
.impotant-info {
    width: 295px;
    background: linear-gradient(90deg,
    rgba(234,234,234,1) 0%,
    rgba(255,255,255,1) 9%
    );
    max-height: 100%;  
    margin-top: 20px;
    font-size: 0.9em;
}
.impotant-info .title {
    font-size: 1.2em;
    color: #1f3b78;
    position: relative;
    margin-bottom: 20px;
    font-style: italic;
    margin-left: 21px;
    font-weight: 400;
}
.impotant-info .title::before {
    display: block;
    content: '';
    width: 43px;
    height: 52px;
    background-image: url("/images/webp/title-decorator.webp");
    position: absolute;
    z-index: 1;
    top: -14px;
    left: -21px;
}
.impotant-info .titulo {
    margin-top: 20px;
}
.impotant-info .inner-container {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    margin-bottom: 12px;
}
.impotant-info .enquete {
    color: #1f3b78;
}
.impotant-info div,
.impotant-info label {
    color: #666;
}
.impotant-info .submit {
    padding: 8px 0;
    width: 72%;
    border-radius: 4px;
    border: none;
    align-self: center;
    background: linear-gradient(
        180deg,
        rgba(35,84,125,1) 0%,
        rgba(10,115,171,1) 82%
        );
    color: #fff;
}
.impotant-info .btn-full {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    padding: 4px 0 0 10px;
    font-size: 1em;
    border-radius: 0 4px 4px 0 ;
    border: none;
    background: linear-gradient(
        180deg,
        rgba(35,84,125,1) 0%,
        rgba(10,115,171,1) 82%
        );
    color: #fff;
}
.impotant-info .message {
    margin-bottom: 20px;
    border-bottom: 4px dotted #e1e1e1;
}
.impotant-info .sender {
    color: #1f3b78;
    font-weight: 600;
    margin-bottom: 10px;
}
.aside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    float: right;
}
.second-line-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aside-section-news {
    font-size: 0.875em;
}
.aside-section-news .secondary-news-container {
    width: 610px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.second-line-section .news-link-container {
    margin-top: 45px;
}
.second-line-section .news-link-container .aside-inner-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
    display: flex;
}
.aside-inner-container .trending-news {
    margin: 20px 10%;
}
.aside-inner-container .trending-news div {
    float: left;
    color: #ccc;
    font-size: 26px;
    margin: 0 10px 10px 0;
}
.aside-inner-container .trending-news .img-date {
    text-align: right;
    color: #666;
    background-color: #e9e9e9;
    font-size: 1em;
    padding: 2px 10px 0 0;
    width: 100%;
}
.aside-inner-container  .event {
    font-size: 1.3em;
    color: #1f3b78;
}
.section-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}
.container-flex.footer {
    flex-direction: row;
    flex-wrap: nowrap;
}
.container-flex.footer .footer-block {
    flex-grow: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-flex.footer div img {
    float: left;
    margin-right: 10px;
}
.container-flex.footer div:nth-child(2) {
    margin-top: 5px;
}
.company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.company-info p {
    font-size: .9em;
    line-height: 1em;
    color: #666;
}
#menu-toggle {
    display: none;
}
.main-block-secondary-news {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .line-spacing {
        margin: 20px auto 0;
    }
    .container {
        max-width: 96%;
        width: 100%;
    }
    .logo-main-banner {
        justify-content: space-between;
        position: relative;
    }
    .logo-box img {
        margin: 20px 0;
        height: 90px;
    }
    #menu-toggle {
        display: block;
    }
    #menu-toggle i {
        padding: 24px;
    }
    .merchant {
        display: none;
    }
    .button.editoriais,
    .search-bar .social,
    .search-bar.top::after,
    .search-bar.bottom::after{
        display: none;
    }
    .search-bar {
        height: 54px;
    }
    .search form {
        width: 100%;
        text-align: center;
    }
    .search button {
        max-width: 30%;
    }
    #search {
        width: 70%
    }
    .busca .button {
        width: 28%
    }
    .marketing-unisul {
        height: 64px;
        object-fit: cover;
    }
    .container-with-aside section {
        display: flex;
        flex-direction: column;
    }
    .main-block-secondary-news {
        flex-wrap: wrap;
    }
    .main-article p {
        display: none;
    }
    aside.main .line-spacing {
        display: flex;
        justify-content: center;
    }
    aside .news-link {
        display: none;
    }
    .news-link-container {
        justify-content: center;
    }
    .news-link-container div {
        justify-content: center;
    }
    .news-link {
        flex-grow: 1;
        flex-basis: 50%;
        justify-content: center;
        display: flex;
        margin-top: 20px;
    }
    .marketing-criciuma {
        width: 100%;
        object-fit: cover;
    }
    .marketing-farol {
        height: 110px;
        object-fit: cover;
    }
    .marketing-hangar,
    .marketing-dago {
        width: 100%;
        object-fit: cover;
    }
    .secondary-news-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .section-group .secondary-news-container {
        flex-direction: row;
        margin-top: 20px;
    }
    .impotant-info {
        width: 100%;
        margin-top: 40px;
    }
    .secondary-news-container a:nth-child(2) {
        margin-top: 20px;
    }
    .impotant-info .btn-full {
        height: 35px;
    }
    .marketing-twitter,
    .logo-rodape {
        margin: 0 auto;
    }
    footer {
        display: flex;
        flex-direction: column;
        width: 96%;
    }
}
@media (max-width: 460px) {
    .container-with-aside article {
        display: flex;
        justify-content: center;
    }
    /*.container-with-aside:nth-child(3) article {*/
    /*    flex-direction: column;*/
    /*}*/
    .main-article {
        height: 300px;
        width: 90%;
        padding: 13px 9%;
    }
    .main-article img {
        float: none;
        margin: 0 auto;
    }
    .main-article .title {
        font-size: 1.2em;
    }
}
@media (min-width: 1001px) {
    aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }
    aside.main {
        max-width: 310px;
    }
    .container-with-aside {
        display: flex;
        justify-content: space-between;
    }
    .main-article {
        width: 610px;
        float: none;
        display: block;
    }
    #search {
        width: 247px;
        height: 32px;
    }
    .menu-bar {
        display: flex;
        justify-content: space-between;
    }
    .container.footer {
        display: flex;
        justify-content: space-between;
    }
    .aside-section-news {
        max-width: 240px;
    }
    .main-block-secondary-news {
        margin-top: 20px;
    }
}