#root {
    --main-blue: #1f3b78;
    --gray: #676767;
    --yellow: #e6ba3d;
}
body {
    background: url('images/bg-circle.png') no-repeat 86% 0%;
}
.drop-shadow {
    background-color: #fff;
    box-shadow: 5px 6px 15px -3px rgba(31,59,120,0.3);
}
.container {
    margin: 0 auto;
    display: block;
    width: 947px;
}
.container-flex {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 947px;
}
.nav-link {
    cursor: pointer;
    color: 1f3b78;
}
.nav-link li::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-left: 13px;
    background-color: #1f3b78;
}
.nav-link li:last-child::after {
    display: none;
}
.logo-main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 947px;
    margin: 0 auto;
}
.search-bar {
    background: rgb(31,60,120);
    background: linear-gradient(180deg, rgba(31,60,120,1) 13%, rgba(59,85,139,1) 50%, rgba(31,60,120,1) 53%);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11%;
}
#search {
    width: 247px;
    height: 32px;
}

#search-btn {
    margin-left: -10px;
}
.button {
    background: rgb(36,71,124);
    background: linear-gradient(180deg, rgba(36,71,124,1) 13%, rgba(2,129,186,1) 100%);
    color: #fff;
    position: relative;
    border: #fff solid 1px;
    font-size: 0.9em;
    height: 32px;
    border-radius: 4px;
}
.button::before {
    border-radius: 5px;
    content: '';
    background: linear-gradient(354deg, rgba(0,0,0,1) 13%, rgba(255,255,255,1) 100%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* position: absolute; */
    /* z-index:1; */
    width:  86px;
    height: 25px;
}
.line-spacing {
    margin-top: 20px;
}

.search-label {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    float: right;
}

/*main*/

.main-article {
    height: 200px;
    width: 610px;
    background: rgb(31,60,120);
    background: linear-gradient(180deg, rgba(31,60,120,1) 13%, rgba(59,85,139,1) 50%, rgba(31,60,120,1) 53%);
    color: #fff;
    float:left;
}
.main-article img{
    float: left;
    margin-right: 10px;
}
.main-article .category{
    font-size: 0.875em;
    font-weight: normal;
    padding-top: 5px;
}
.main-article .title{
    color: #e6ba3d;
    font-size: 1.5em;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: normal;
}
.main-article .secondary-content{
    font-size: 0.875em;
    line-height: 16px;
    margin-top: 10px;
}

/*200x143*/

.side-news-container {
    width: 200px;
}